p Service availability is measured by a 3rd party.

p
  | This admin interface currently supports&nbsp;
  a(href='https://www.pingdom.com/', target='_blank') Pingdom
  | &nbsp;for monitoring.

.form-group
  label(for='module_service-availability_url') URL to check
  input.form-control(type='text', placeholder='https://www.gov.uk/performance', id='module_service-availability_url', name='module_service-availability_url')
