{
  "development": false,
  "spotlight": {
    "path": "./spotlight-config",
    "remote": "git@github.com:alphagov/spotlight-config.git",
    "json_glob": "dashboards/**/*.json"
  },
  "collectors": {
    "path": "./collector-config",
    "remote": "git@github.com:alphagov/performanceplatform-collector-config.git",
    "query_glob": "queries/**/*.json"
  },
  "jenkins": {
    "url": "https://jenkins.server",
    "token": "[JOB_TOKEN_HERE]",
    "creds": {
       "user": "[USERNAME_HERE]",
       "password": "[USER_TOKEN_HERE]"
    }
  },
  "govuk": {
  },
  "stagecraft": {
    "url": "https://stagecraft.local",
    "creds": {
      "user": "[USERNAME_HERE]",
      "password": "[PASSWORD_HERE]"
    },
    "tokens": {
      "ga-realtime": "",
      "pingdom": ""
    }
  }
  "pingdom": {
    "username": "email@example.com",
    "password": "PASSWORD",
    "app_key" : "APPLICATION_KEY"
  }
}
