{
  "development": false,
  "stub": {
    "path": "./stub-repo",
    "remote": "git@github.com:alphagov/spotlight-config.git",
    "json_glob": "dashboards/**/*.json"
  },
  "jenkins": {
    "url": "https://jenkins.server",
    "job": "config-deploy",
    "token": "[JOB_TOKEN_HERE]",
    "creds": {
       "user": "[USERNAME_HERE]",
       "password": "[USER_TOKEN_HERE]"
    }
  },
  "govuk": {
  },
  "stagecraft": {
    "url": "https://stagecraft.local",
    "creds": {
      "user": "[USERNAME_HERE]",
      "password": "[PASSWORD_HERE]"
    }
  }
}
