extends layout

block header
  title Create a new dashboard - Performance Platform dashboard admin
  script(src='/javascripts/form.js')

block content
  h1 Edit your new dashboard

  include includes/dashboard_form
