extends layout

block header
  title Create a new dashboard - Performance Platform dashboard admin
  script(src='/javascripts/form.js')

block content
  h1 Create a dashboard
  p Take a look at some existing dashboards to get an idea of what these dashboards do.

  include includes/dashboard_form
