extends layout

block header
  title Edit '#{dashboard.title}' - Performance Platform dashboard admin

block content
  h1 Edit the "#{dashboard.title}" dashboard

  include includes/dashboard_form

  hr

  a(href='https://www.preview.alphagov.co.uk/performance/' + dashboard.slug, target='_blank', class='btn btn-sm btn-info')
    | View dashboard on preview

  if dashboard.published === false
    form(method='post', class='publish', action='/dashboard/' + dashboard.slug + '/publish')
      button(type='submit', class='btn btn-sm btn-danger') Publish dashboard on homepage
