extends layout

block header
  title Performance Platform dashboard admin

block content
  h1 Performance Platform dashboard admin
  ul#dashboards
    each dashboard in dashboards
      li
        a(href='/dashboard/' + dashboard.slug + '/edit')
          =dashboard.title
        if dashboard.published === false
          span.draft DRAFT
