extends layout

block header
  title Performance Platform dashboard admin
  script(src='/javascripts/progress-bar.js')

block content
  #add-dashboard
    a(href='/dashboard/new', class='btn btn-success') Add a new dashboard

  ul#dashboards
    each alphabetisedDashboards, group in groupedDashboards
      li
        h2= group
        each dashboards, firstLetter in alphabetisedDashboards
          dt= firstLetter
          dd
            ol
              each dashboard in dashboards
                li
                  a(href='/dashboard/' + dashboard.slug + '/edit')
                    =dashboard.title
                  if dashboard.published === false
                    span.badge.draft Not published
                  if dashboard.department
                    abbr(title=dashboard.department.title, class='dept')
                      =dashboard.department.abbr
