doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/performance-platform-admin.css')
    block header
  body
    .navbar.navbar-inverse
      .container
        .navbar-header
          a.navbar-brand(href='/')
            img(src='/images/header-crown.png', alt='', id='header-crown')
            span Performance Platform dashboard admin
          p#prototype.navbar-text Prototype
          ul.nav.navbar-nav
            li
              a(href='https://github.com/alphagov/spotlight-config/commits/master', target='_blank')
                | Recent config changes
        p.navbar-text.navbar-right
          | Logged in as #{settings.committer.name}
          a(href='https://secure.gravatar.com/', target='_blank')
            img(src='http://www.gravatar.com/avatar/#{settings.committer.emailHash}?size=140', height='20', width='20', title=settings.committer.email, id='gravatar')
    .container
      if errors && errors.length > 0
        #info.alert.alert-danger
          != errors
      if messages && messages.length > 0
        #info.alert.alert-success
          != messages

      block content
