body {
  margin-bottom: 6em;
}

.navbar {
  border-radius: 0;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.navbar-inverse .navbar-brand:hover {
  color: #bfc1c3; /* $grey-2 */
}

#header-crown {
  margin: -6px 10px 0 0;
}

#prototype {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 0 5px;
}

#gravatar {
  border-radius: 3px;
  margin-left: 5px;
}

h1 {
  font-size: 3em;
}

body > .container p {
  font-size: 1.6em;
}

form {
  display: inline;
}

form.publish .btn {
  margin-left: 10px;
}

.draft {
  background: #f47738; /* $orange */
  color: #fff;
  margin-left: 6px;
  padding: 4px 8px;
}

#dashboards {
  padding: 0;
  margin: 0;
  list-style: none;
}

#dashboards > li {
  margin-top: 80px;
}
#dashboards > li:first-of-type {
  margin: 0;
}

#dashboards ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

#dashboards ol li {
  position: relative;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

#dashboards dt {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 24px;
}

abbr.dept {
  color: #aaa;
  position: absolute;
  right: 0;
}

#links legend {
  font-size: 1em;
}
