body {
  margin-bottom: 6em;
}

.navbar {
  border-radius: 0;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.navbar-inverse .navbar-brand:hover {
  color: #bfc1c3; /* $grey-2 */
}

#header-crown {
  margin: -6px 10px 0 0;
}

#prototype {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 0 5px;
}

#gravatar {
  border-radius: 3px;
  margin-left: 5px;
}

h1 {
  font-size: 3em;
}

form {
  display: inline;
}

form.publish .btn {
  margin-left: 10px;
}

.draft {
  background: #f47738; /* $orange */
  color: #fff;
  margin-left: 6px;
  padding: 4px 8px;
}

#dashboards {
  padding: 0;
  margin: 0;
  list-style: none;
}

#dashboards > li {
  margin-top: 80px;
}
#dashboards > li:first-of-type {
  margin: 0;
}

#dashboards ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

#dashboards ol li {
  position: relative;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

#dashboards dt {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 24px;
}

abbr.dept {
  color: #aaa;
  position: absolute;
  right: 0;
}

#links {
  margin-bottom: 1em;
}

#links legend {
  font-size: 1em;
}

#links .btn.btn-default {
  margin-bottom: 2em;
}

.link {
  margin-bottom: 2em;
}

.remove-link {
  float: right;
  margin-top: -3em;
  position: relative;
  top: 3em;
  z-index: 99;
}

#save-changes h2 {
  margin-top: 0;
}

form h2.sep {
  border-bottom: 1px solid #ccc;
  display: block;
  margin: 20px 15px;
}

#related-links-add .glyphicon {
  font-size: 20px;
  margin-right: 5px;
  vertical-align: sub;
}

span.light {
  font-weight: normal;
  margin-left: 8px;
}

.twiddle legend {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
  border: none;
}

.twiddle input[type=radio] {
  display: none;
}

.twiddle label {
  padding: 5px;
  border: 1px solid #ccc;
  border-right: none;
  font-weight: normal;
  width: 140px;
  text-align: center;
  color: #428bca;
}

.twiddle label:first-of-type {
  border-radius: 5px 0 0 5px;
}

.twiddle label:last-of-type {
  border-right: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
}

.twiddle input[type=radio]:checked + label {
  box-shadow: inset 0px 1px 5px 0px rgba(50, 50, 50, 0.1);
  color: #333;
  font-weight: bold;
  background-color: #ddd;
}

.modules {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: -10px;
}

.modules li {
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.modules li > a,
.modules li span.title {
  font-size: 20px;
  font-weight: bold;
  margin-left: 18px;
}

.modules li.disabled span.title {
  color: #999;
}

.modules li > .module + .icon {
  position: absolute;
  top: 18px;
  left: 0;
  font-size: 18px;
  width: 0;
  height: 0;
  border: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid #428bc7;
}

.modules li.disabled > .module + .icon {
  border-left-color: #999;
}

.modules li > .module:target + .icon,
.modules li > .module.open + .icon {
  top: 21px;
  border: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid #428bc7;
}

.modules li.disabled > .module:target + .icon,
.modules li.disabled > .module.open + .icon {
  border-top-color: #999;
}

.modules .module {
  display: none;
}

.modules .module:target,
.modules .module.open {
  display: block;
}


